# Introduction

We are looking for quantitative criteria to distinguish best cities in the world for life quality.
We will be using the API <a href="https://developers.teleport.org/api/getting_started/" target="_blank">Teleport</a> documentation 

- <a href="https://developers.teleport.org/api/getting_started/" target="_blank">documentation Teleport API</a>

We will also need to use a website called RandomList.com that will give us a random cities around the world to get a scoring. 
All the data will be stored in a public S3 bucket.

## Part 1: Get data for 1 City

In [2]:
import requests

In [3]:
response = requests.get(" https://api.teleport.org/api/cities/?search=Paris")
response

We get lot of results, only the first [0] element is relevant

In [4]:
response.json()

{'_embedded': {'city:search-results': [{'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:2988507/'}},
    'matching_alternate_names': [{'name': 'Paris'},
     {'name': 'paris'},
     {'name': 'Parisi'}],
    'matching_full_name': 'Paris, Île-de-France, France'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4717560/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Texas, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489854/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Kingston, Kingston, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:966166/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Parys, Orange Free State, South Africa (Paris)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489297/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'New Kingston, St. Andrew, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:6942553/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Ontario, Canada'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4647963/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Tennessee, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4303602/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Kentucky, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4246659/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Illinois, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4974617/'}},
    'matching_alternate_names': [{'name': 'Paris'},
     {'name': 'Paris Hill'},
     {'name': 'parisu'}],
    'matching_full_name': 'Paris, Maine, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:8504417/'}},
    'matching_alternate_names': [{'name': 'Paris La Defense'}],
    'matching_full_name': 'La Defense, Île-de-France, France (Paris La Defense)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:1694660/'}},
    'matching_alternate_names': [{'name': 'Parista'}],
    'matching_full_name': 'Parista, Central Luzon, Philippines'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4125402/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Arkansas, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3488465/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Spanish Town, Saint Catherine, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3488981/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Portmore, Saint Catherine, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489460/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Montego Bay, St. James, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4225346/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Swainsboro, Georgia, United States (Paris)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4432542/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Kosciusko, Mississippi, United States (Paris)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:6098747/'}},
    'matching_alternate_names': [{'name': 'parisaundo'}],
    'matching_full_name': 'Parry Sound, Ontario, Canada (parisaundo)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4402452/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Missouri, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:2999139/'}},
    'matching_alternate_names': [{'name': 'Paris-Plage'}],
    'matching_full_name': 'Le Touquet-Paris-Plage, Hauts-de-France, France (Paris-Plage)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489577/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Mandeville, Manchester, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489523/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'May Pen, Clarendon, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489227/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Old Harbour, Saint Catherine, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:5603240/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Idaho, United States'}]},
 '_links': {'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/cities/?search=Paris&geohash='}},
 'count': 25}

In [5]:
response.json().keys()

dict_keys(['_embedded', '_links', 'count'])

In [6]:
response.json()['_embedded'].keys()

dict_keys(['city:search-results'])

In [7]:
first_result = response.json()["_embedded"]["city:search-results"][0]
paris_link = first_result["_links"]["city:item"]["href"]
paris_link

'https://api.teleport.org/api/cities/geonameid:2988507/'

In [8]:
paris_info = requests.get(paris_link)
paris_info.json()

{'_links': {'city:admin1_division': {'href': 'https://api.teleport.org/api/countries/iso_alpha2:FR/admin1_divisions/geonames:11/',
   'name': 'Île-de-France'},
  'city:alternate-names': {'href': 'https://api.teleport.org/api/cities/geonameid:2988507/alternate_names/'},
  'city:country': {'href': 'https://api.teleport.org/api/countries/iso_alpha2:FR/',
   'name': 'France'},
  'city:timezone': {'href': 'https://api.teleport.org/api/timezones/iana:Europe%2FParis/',
   'name': 'Europe/Paris'},
  'city:urban_area': {'href': 'https://api.teleport.org/api/urban_areas/slug:paris/',
   'name': 'Paris'},
  'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/cities/geonameid:2988507/'}},
 'full_name': 'Paris, Île-de-France, France',
 'geoname_id': 2988507,
 'location': {'geohash': 'u09tvmqrep8np02g7x9y',
  'latlon': {'latitude': 48.85341, 'longitude': 2.3488}},
 'name': 'Paris',
 'population': 2138551}

In [9]:
paris_scores = requests.get(paris_info.json()["_links"]["city:urban_area"]["href"]+"scores/")
paris_scores

In [10]:
paris_scores.json()

{'_links': {'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/urban_areas/slug:paris/scores/'}},
 'categories': [{'color': '#f3c32c',
   'name': 'Housing',
   'score_out_of_10': 3.5835},
  {'color': '#f3d630', 'name': 'Cost of Living', 'score_out_of_10': 3.664},
  {'color': '#f4eb33', 'name': 'Startups', 'score_out_of_10': 9.2765},
  {'color': '#d2ed31',
   'name': 'Venture Capital',
   'score_out_of_10': 7.513000000000001},
  {'color': '#7adc29', 'name': 'Travel Connectivity', 'score_out_of_10': 10.0},
  {'color': '#36cc24',
   'name': 'Commute',
   'score_out_of_10': 5.330500000000001},
  {'color': '#19ad51',
   'name': 'Business Freedom',
   'score_out_of_10': 8.088333333333333},
  {'color': '#0d6999', 'name': 'Safety', 'score_out_of_10': 6.2465},
  {'color': '#051fa5',
   'name': 'Healthcare',
   'score_out_of_10': 8.756999999999998},
  {'color': '#150e78', 'name': 'Education', 'score_out_of_10': 7.085},
  {'color': '#3d14a4',
   'name': 'Environmental Quality',
   'score_out_of_10': 4.36225},
  {'color': '#5c14a1', 'name': 'Economy', 'score_out_of_10': 4.2045},
  {'color': '#88149f',
   'name': 'Taxation',
   'score_out_of_10': 2.6480000000000006},
  {'color': '#b9117d',
   'name': 'Internet Access',
   'score_out_of_10': 9.716000000000001},
  {'color': '#d10d54', 'name': 'Leisure & Culture', 'score_out_of_10': 9.8165},
  {'color': '#e70c26', 'name': 'Tolerance', 'score_out_of_10': 5.579},
  {'color': '#f1351b', 'name': 'Outdoors', 'score_out_of_10': 4.433}],
 'summary': '<p>\n    Paris, the most visited city in the world, is a historical, cultural and esthetic gem that has played a major role in European history for centuries. Its <b>overwhelming beauty</b>, architectural wonders and national <b>cuisine</b> call to people from around the world, adding to its\xa0exciting and <b>diverse environment</b>.\xa0As a global <b>economic center</b>, Paris offers opportunities in a wide range of industries and business markets.\n</p>\n\n\n    <p>Paris is one of the top ten city matches for 9.5% of Teleport users.</p>\n',
 'teleport_city_score': 64.78743243243241}

In [11]:
import pandas as pd 
paris_df = pd.DataFrame(paris_scores.json()["categories"])
paris_df

      color                   name  score_out_of_10
0   #f3c32c                Housing         3.583500
1   #f3d630         Cost of Living         3.664000
2   #f4eb33               Startups         9.276500
3   #d2ed31        Venture Capital         7.513000
4   #7adc29    Travel Connectivity        10.000000
5   #36cc24                Commute         5.330500
6   #19ad51       Business Freedom         8.088333
7   #0d6999                 Safety         6.246500
8   #051fa5             Healthcare         8.757000
9   #150e78              Education         7.085000
10  #3d14a4  Environmental Quality         4.362250
11  #5c14a1                Economy         4.204500
12  #88149f               Taxation         2.648000
13  #b9117d        Internet Access         9.716000
14  #d10d54      Leisure & Culture         9.816500
15  #e70c26              Tolerance         5.579000
16  #f1351b               Outdoors         4.433000

In [12]:
paris_df['City']='Paris'

In [13]:
paris_df

      color                   name  score_out_of_10   City
0   #f3c32c                Housing         3.583500  Paris
1   #f3d630         Cost of Living         3.664000  Paris
2   #f4eb33               Startups         9.276500  Paris
3   #d2ed31        Venture Capital         7.513000  Paris
4   #7adc29    Travel Connectivity        10.000000  Paris
5   #36cc24                Commute         5.330500  Paris
6   #19ad51       Business Freedom         8.088333  Paris
7   #0d6999                 Safety         6.246500  Paris
8   #051fa5             Healthcare         8.757000  Paris
9   #150e78              Education         7.085000  Paris
10  #3d14a4  Environmental Quality         4.362250  Paris
11  #5c14a1                Economy         4.204500  Paris
12  #88149f               Taxation         2.648000  Paris
13  #b9117d        Internet Access         9.716000  Paris
14  #d10d54      Leisure & Culture         9.816500  Paris
15  #e70c26              Tolerance         5.579000  Paris
16  #f1351b               Outdoors         4.433000  Paris

* We now need to upload this DataFrame to S3 using [Boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html)

In [14]:
!pip install boto3

Requirement already satisfied: boto3 in /opt/conda/lib/python3.8/site-packages (1.18.38)
Requirement already satisfied: botocore<1.22.0,>=1.21.38 in /opt/conda/lib/python3.8/site-packages (from boto3) (1.21.38)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.8/site-packages (from boto3) (0.10.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from boto3) (0.5.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.8/site-packages (from botocore<1.22.0,>=1.21.38->boto3) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.8/site-packages (from botocore<1.22.0,>=1.21.38->boto3) (1.25.10)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.22.0,>=1.21.38->boto3) (1.15.0)

In [15]:
# create generic session to my AWS

import boto3

ACCESS_KEY = "**************************"
SECRET_KEY = "******************************************"

session = boto3.Session(aws_access_key_id=ACCESS_KEY, 
                        aws_secret_access_key=SECRET_KEY)

In [16]:
# access S3 as a resource
s3 = session.resource("s3")

In [17]:


BUCKET_NAME = "scoring-cities-in-the-world-had"

my_bucket =s3.create_bucket(Bucket=BUCKET_NAME)
print("Done------")

Done------

* Use `Pandas` to export your DataFrame as a csv file

In [18]:
csv = paris_df.to_csv()

* Use `put_object()` function to create an Object within the bucket you just created

In [19]:
put_object = my_bucket.put_object(Key="Paris-scoring.csv", Body=csv)

## Get Data For Several Cities

* To have a first list, we are going to scrap [this Wikipedia page](https://en.wikipedia.org/wiki/List_of_largest_cities) where there's a list of the world's largest cities.
We will enrich this list with some other cities of interest.

In [20]:
!pip install Scrapy

Requirement already satisfied: Scrapy in /opt/conda/lib/python3.8/site-packages (2.5.0)
Requirement already satisfied: lxml>=3.5.0; platform_python_implementation == "CPython" in /opt/conda/lib/python3.8/site-packages (from Scrapy) (4.6.3)
Requirement already satisfied: w3lib>=1.17.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (1.22.0)
Requirement already satisfied: parsel>=1.5.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (1.6.0)
Requirement already satisfied: cssselect>=0.9.1 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (1.1.0)
Requirement already satisfied: itemadapter>=0.1.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (0.4.0)
Requirement already satisfied: Twisted[http2]>=17.9.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (21.7.0)
Requirement already satisfied: itemloaders>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (1.0.4)
Requirement already satisfied: queuelib>=1.4.2 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (1.6.2)
Requirement already satisfied: PyDispatcher>=2.0.5; platform_python_implementation == "CPython" in /opt/conda/lib/python3.8/site-packages (from Scrapy) (2.0.5)
Requirement already satisfied: h2<4.0,>=3.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (3.2.0)
Requirement already satisfied: cryptography>=2.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (3.1.1)
Requirement already satisfied: pyOpenSSL>=16.2.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (19.1.0)
Requirement already satisfied: protego>=0.1.15 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (0.1.16)
Requirement already satisfied: zope.interface>=4.1.3 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (5.4.0)
Requirement already satisfied: service-identity>=16.0.0 in /opt/conda/lib/python3.8/site-packages (from Scrapy) (21.1.0)
Requirement already satisfied: six>=1.4.1 in /opt/conda/lib/python3.8/site-packages (from w3lib>=1.17.0->Scrapy) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (20.2.0)
Requirement already satisfied: hyperlink>=17.1.1 in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (21.0.0)
Requirement already satisfied: Automat>=0.8.0 in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (20.2.0)
Requirement already satisfied: constantly>=15.1 in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (15.1.0)
Requirement already satisfied: incremental>=21.3.0 in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (21.3.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (3.7.4.2)
Requirement already satisfied: priority<2.0,>=1.1.0; extra == "http2" in /opt/conda/lib/python3.8/site-packages (from Twisted[http2]>=17.9.0->Scrapy) (1.3.0)
Requirement already satisfied: jmespath>=0.9.5 in /opt/conda/lib/python3.8/site-packages (from itemloaders>=1.0.1->Scrapy) (0.10.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /opt/conda/lib/python3.8/site-packages (from h2<4.0,>=3.0->Scrapy) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /opt/conda/lib/python3.8/site-packages (from h2<4.0,>=3.0->Scrapy) (3.0.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /opt/conda/lib/python3.8/site-packages (from cryptography>=2.0->Scrapy) (1.14.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from zope.interface>=4.1.3->Scrapy) (49.6.0.post20201009)
Requirement already satisfied: pyasn1-modules in /opt/conda/lib/python3.8/site-packages (from service-identity>=16.0.0->Scrapy) (0.2.8)
Requirement already satisfied: pyasn1 in /opt/conda/lib/python3.8/site-packages (from service-identity>=16.0.0->Scrapy) (0.4.8)
Requirement already satisfied: idna>=2.5 in /opt/conda/lib/python3.8/site-packages (from hyperlink>=17.1.1->Twisted[http2]>=17.9.0->Scrapy) (2.10)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.8/site-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.0->Scrapy) (2.20)

In [21]:
import os
import logging

import scrapy
from scrapy.crawler import CrawlerProcess

In [22]:
class CityNamesSpider(scrapy.Spider):

    name = "citynames"

    start_urls = [
        'https://en.wikipedia.org/wiki/List_of_largest_cities',
    ]

    def parse(self, response):
        cities = response.css("tr")
        for city in cities[6:87]:
            yield {
                'city': city.css('a::text').get()
            }

In [23]:
filename = "cities.json"

if filename in os.listdir('Scrapping_results/'):
        os.remove('Scrapping_results/' + filename)

process = CrawlerProcess(settings = {
    'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)',
    'LOG_LEVEL': logging.INFO,
    "FEEDS": {
        'Scrapping_results/' + filename : {"format": "json"},
    }
})

process.crawl(CityNamesSpider)
process.start()

2021-09-09 13:34:04 [scrapy.utils.log] INFO: Scrapy 2.5.0 started (bot: scrapybot)
2021-09-09 13:34:04 [scrapy.utils.log] INFO: Versions: lxml 4.6.3.0, libxml2 2.9.10, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 21.7.0, Python 3.8.6 | packaged by conda-forge | (default, Oct  7 2020, 19:08:05) - [GCC 7.5.0], pyOpenSSL 19.1.0 (OpenSSL 1.1.1h  22 Sep 2020), cryptography 3.1.1, Platform Linux-5.4.109+-x86_64-with-glibc2.10
2021-09-09 13:34:04 [scrapy.crawler] INFO: Overridden settings:
{'LOG_LEVEL': 20,
 'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)'}
2021-09-09 13:34:04 [scrapy.extensions.telnet] INFO: Telnet Password: b4cfaec9d86c056b
2021-09-09 13:34:04 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.memusage.MemoryUsage',
 'scrapy.extensions.feedexport.FeedExporter',
 'scrapy.extensions.logstats.LogStats']
2021-09-09 13:34:04 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2021-09-09 13:34:04 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2021-09-09 13:34:04 [scrapy.middleware] INFO: Enabled item pipelines:
[]
2021-09-09 13:34:04 [scrapy.core.engine] INFO: Spider opened
2021-09-09 13:34:04 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2021-09-09 13:34:04 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6023
2021-09-09 13:34:04 [scrapy.core.engine] INFO: Closing spider (finished)
2021-09-09 13:34:04 [scrapy.extensions.feedexport] INFO: Stored json feed (81 items) in: Scrapping_results/cities.json
2021-09-09 13:34:04 [scrapy.statscollectors] INFO: Dumping Scrapy stats:
{'downloader/request_bytes': 263,
 'downloader/request_count': 1,
 'downloader/request_method_count/GET': 1,
 'downloader/response_bytes': 63307,
 'downloader/response_count': 1,
 'downloader/response_status_count/200': 1,
 'elapsed_time_seconds': 0.22271,
 'feedexport/success_count/FileFeedStorage': 1,
 'finish_reason': 'finished',
 'finish_time': datetime.datetime(2021, 9, 9, 13, 34, 4, 706512),
 'httpcompression/response_bytes': 441968,
 'httpcompression/response_count': 1,
 'item_scraped_count': 81,
 'log_count/INFO': 11,
 'memusage/max': 133804032,
 'memusage/startup': 133804032,
 'response_received_count': 1,
 'scheduler/dequeued': 1,
 'scheduler/dequeued/memory': 1,
 'scheduler/enqueued': 1,
 'scheduler/enqueued/memory': 1,
 'start_time': datetime.datetime(2021, 9, 9, 13, 34, 4, 483802)}
2021-09-09 13:34:04 [scrapy.core.engine] INFO: Spider closed (finished)

In [24]:
city_names = pd.read_json("Scrapping_results/cities.json")
city_names.head()

2021-09-09 13:34:04 [numexpr.utils] INFO: NumExpr defaulting to 4 threads.

       city
0      None
1     Tokyo
2     Delhi
3     Seoul
4  Shanghai

In [25]:
city_names = city_names.loc[1:,:]
city_names.head()

        city
1      Tokyo
2      Delhi
3      Seoul
4   Shanghai
5  São Paulo

In [26]:
add_on = pd.DataFrame({'city' : ['Oslo', 'Stockholm', 'Montreal']})
city_names = city_names.append(add_on)

In [27]:
city_names.shape

(83, 1)

In [28]:
# Loop that will go through each city, search for information and store it to the S3 bucket 
for city in city_names['city']:
    try:
        search_city = requests.get(" https://api.teleport.org/api/cities/?search={}".format(city))
        first_result = search_city.json()["_embedded"]["city:search-results"][0]
        city_link = first_result["_links"]["city:item"]["href"]
        city_info = requests.get(city_link)
        city_scores = requests.get(city_info.json()["_links"]["city:urban_area"]["href"]+"scores/")
        city_df = pd.DataFrame(city_scores.json()["categories"])
        city_df['City']='{}'.format(city)
        csv = city_df.to_csv()
        put_object = my_bucket.put_object(Key="{}-scoring.csv".format(city), Body=csv)
        print("{} done".format(city))
    except:
        print("Couldn't find results for {}".format(city))

Tokyo done
Delhi done
Seoul done
Shanghai done
São Paulo done
Mexico City done
Cairo done
Mumbai done
Beijing done
Couldn't find results for Dhaka
Osaka done
New York done
Couldn't find results for Karachi
Buenos Aires done
Couldn't find results for Chongqing
Istanbul done
Couldn't find results for Kolkata
Manila done
Lagos done
Rio de Janeiro done
Couldn't find results for Tianjin
Couldn't find results for Kinshasa
Guangzhou done
Los Angeles done
Moscow done
Shenzhen done
Couldn't find results for Lahore
Bangalore done
Paris done
Bogotá done
Jakarta done
Chennai done
Lima done
Bangkok done
Couldn't find results for Nagoya
Hyderabad done
London done
Tehran done
Chicago done
Couldn't find results for Chengdu
Couldn't find results for Nanjing
Couldn't find results for Wuhan
Ho Chi Minh City done
Couldn't find results for Luanda
Couldn't find results for Ahmedabad
Kuala Lumpur done
Couldn't find results for Xi'an
Hong Kong done
Dongguan done
Hangzhou done
Foshan done
Couldn't find results for Shenyang
Riyadh done
Couldn't find results for Baghdad
Santiago done
Couldn't find results for Surat
Madrid done
Suzhou done
Couldn't find results for Pune
Couldn't find results for Harbin
Houston done
Dallas done
Toronto done
Dar es Salaam done
Miami done
Couldn't find results for Belo Horizonte
Singapore done
Philadelphia done
Atlanta done
Fukuoka done
Couldn't find results for Khartoum
Barcelona done
Johannesburg done
Saint Petersburg done
Couldn't find results for Qingdao
Couldn't find results for Dalian
Washington, D.C. done
Couldn't find results for Yangon
Couldn't find results for Alexandria
Couldn't find results for Jinan
Oslo done
Stockholm done
Montreal done

In [29]:
# prints the contents of bucket
for s3_file in s3.Bucket(BUCKET_NAME).objects.all():
    print(s3_file.key)

Atlanta-scoring.csv
Bangalore-scoring.csv
Bangkok-scoring.csv
Barcelona-scoring.csv
Beijing-scoring.csv
Bogotá-scoring.csv
Buenos Aires-scoring.csv
Cairo-scoring.csv
Chennai-scoring.csv
Chicago-scoring.csv
Dallas-scoring.csv
Dar es Salaam-scoring.csv
Delhi-scoring.csv
Dongguan-scoring.csv
Foshan-scoring.csv
Fukuoka-scoring.csv
Guangzhou-scoring.csv
Hangzhou-scoring.csv
Ho Chi Minh City-scoring.csv
Hong Kong-scoring.csv
Houston-scoring.csv
Hyderabad-scoring.csv
Istanbul-scoring.csv
Jakarta-scoring.csv
Johannesburg-scoring.csv
Kuala Lumpur-scoring.csv
Lagos-scoring.csv
Lima-scoring.csv
London-scoring.csv
Los Angeles-scoring.csv
Madrid-scoring.csv
Manila-scoring.csv
Mexico City-scoring.csv
Miami-scoring.csv
Montreal-scoring.csv
Moscow-scoring.csv
Mumbai-scoring.csv
New York-scoring.csv
Osaka-scoring.csv
Oslo-scoring.csv
Paris-scoring.csv
Philadelphia-scoring.csv
Rio de Janeiro-scoring.csv
Riyadh-scoring.csv
Saint Petersburg-scoring.csv
Santiago-scoring.csv
Seoul-scoring.csv
Shanghai-scoring.csv
Shenzhen-scoring.csv
Singapore-scoring.csv
Stockholm-scoring.csv
Suzhou-scoring.csv
São Paulo-scoring.csv
Tehran-scoring.csv
Tokyo-scoring.csv
Toronto-scoring.csv
Washington, D.C.-scoring.csv

In [30]:
# To test one
#s3.Bucket('BUCKET_NAME').download_file('OBJECT_NAME', 'FILE_NAME')
#s3_file_key = 'Paris-scoring.csv'
#s3.Bucket(BUCKET_NAME).download_file(s3_file_key, 'Paris-scoring.csv')

In [31]:
df = pd.DataFrame(columns = ['color', 'name' , 'score_out_of_10',  'city'])
df

Empty DataFrame
Columns: [color, name, score_out_of_10, City]
Index: []

In [32]:
# download all csv files in local repository
for s3_file in s3.Bucket(BUCKET_NAME).objects.all():
    s3.Bucket(BUCKET_NAME).download_file(s3_file.key, s3_file.key)
    df = df.append(pd.read_csv(s3_file.key))

In [33]:
df.drop(['color','Unnamed: 0'], axis = 1, inplace = True)

In [34]:
df.head()

                  name  score_out_of_10     City
0              Housing           4.9755  Atlanta
1       Cost of Living           5.2410  Atlanta
2             Startups           8.8350  Atlanta
3      Venture Capital           7.2570  Atlanta
4  Travel Connectivity           5.2915  Atlanta

In [36]:
# environnment quality scoring per city
health = df['name'] == 'Environmental Quality'
df_health = df[health]
df_health.groupby(['City']).mean().sort_values(by = 'score_out_of_10', ascending = False).head(10)

                  score_out_of_10
City
Stockholm                 8.99175
Oslo                      8.42425
Singapore                 7.95425
Fukuoka                   7.91600
Montreal                  7.72150
Toronto                   7.17750
Washington, D.C.          6.99375
Chicago                   6.80450
Seoul                     6.78700
Dallas                    6.69300

In [37]:
# total scoring per city
group_city = df.groupby(['City']).mean()
group_city.sort_values(['score_out_of_10'], ascending = False).head(10)

             score_out_of_10
City
Singapore           7.145069
London              6.894015
Toronto             6.799284
Montreal            6.700363
New York            6.650098
Tokyo               6.572044
Paris               6.488446
Los Angeles         6.439755
Chicago             6.424485
Hong Kong           6.366725

### To do further analysis, the best is to use a Data Viz tool we just need the data in CSV format for example

In [38]:
# to use for some data viz tool
df.to_csv("dataviz.csv", index=False)